:root {
  --button-color: #e25d17;
  --secondary-color: #6bfcfc;
  --bg-color: #060606;
  --white: #fdfcfb;
  --color6: #1b1817;
  --color5: #292927;
  --color4: #2d2927
  --color3: #5e5957
  --color2: #8c8c8c
  --color1: #e8e8e8;
}

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}